
  <div class="flex flex-1">

    <!--  <div class="bg-green-500 p-2 shadow-md rounded-b-lg fixed w-full top-0 left-0 bg-gradient-to-r from-white to-green-500 rounded">
   <nav class="flex justify-between items-center h-12">  
        <div class="flex items-center">
          <img src="assets/images/el_farabi_logo.png" alt="El Farabi Logo" class="h-10 w-auto mr-4">   
          <img src="assets/images/el_farabi_text.png" alt="El Farabi Text" class="h-5 w-auto">
        </div>
        <div>
          <ul class="flex text-muted-foreground/50">
            <li class="hover:text-white">
              <a href="https://www.linkedin.com/company/fidness-company/" target="_blank" class="menu-link px-2">
                Support
              </a>
            </li>
          </ul>
        </div>
      </nav>
      
    </div>
   -->
    <div class="flex" style="justify-content: center; align-items:center; width: 65%; background-color: FEFDED; border-color: rgb(49, 174, 95); border-width: 2px; border-radius: 1px;" >
     
      <!--  <h3 class="text-center bg-green-500 p-2 shadow-md rounded-b-lg bg-gradient-to-r from-white to-green-500 rounded">
          Bienvenue Teams Farabi, vous pouvez ajouter un nouveau Admin pour accéder au Dashboard
        </h3> -->
         
      <div class="flex" style="justify-content: center; background-color: FEFDED;">
        
        <form #regitre="ngForm" style="border-radius: 5px; width: 500px; margin-top: 20px;" >
          <div><h2 class="block text-black 
            mb-2" style="margin-bottom: 30px; font-family: 'Roboto', sans-serif; font-size: 26px;">Ajouter un nouveau <strong>Membre</strong></h2>
        </div>
          <!-- Nom and Prenom -->
          <div class="flex gap-4 mb-4">
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">Nom</label>
              <input class="shadow appearance-none border border-green-500
              rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              #firstname="ngModel"
              name="firstname"
              ngModel
              type="text"
              placeholder="Nom"
              required 
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="firstname.invalid && firstname.touched">Nom invalide</span>
            </div>
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">Prénom</label>
              <input class="shadow appearance-none border border-green-500
              rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              name="lastname"
              ngModel
              type="text"
              placeholder="Prénom"
              #lastname="ngModel"
              required
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="lastname.invalid && lastname.touched">Prénom invalide</span>
            </div>
          </div>
          <!-- Numéro de téléphone and E-mail -->
          <div class="flex gap-4 mb-4">
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">Numéro de téléphone</label>
              <input class="shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              name="phone"
              ngModel
              type="tel"
              placeholder="exemple 54425000"
              pattern="[0-9]{8}"
              #phone="ngModel"
              required
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="phone.invalid && phone.touched">Numéro invalide</span>
            </div>
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">E-mail</label>
              <input class="shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              name="email"
              ngModel
              type="email"
              placeholder="exemple@fidness.tn"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              #email="ngModel"
              required
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="email.invalid && email.touched">Email invalide</span>
            </div>
          </div>
          <!-- Mot de passe and Retapez le mot de passe -->
          <div class="flex gap-4 mb-6">
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">Mot de passe</label>
              <input class="shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              name="password"
              type="password"
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
              ngModel
              #password="ngModel"
              required
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="password.invalid && password.touched">Mot de passe est invalide</span>
            </div>
            <div class="w-1/2">
              <label class="block text-green-700 text-sm font-bold mb-2">Retapez le mot de passe</label>
              <input class="shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline"
              name="confirm_password"
              type="password"
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
              ngModel
              #confirmPassword="ngModel"
              required
              />
              <span class="erreur text-red-500 text-xs italic" *ngIf="confirmPassword.invalid && confirmPassword.touched">Mot de passe est invalide</span>
            </div>
            
          </div>
          <p class="text-gray-500 text-xs italic">Le mot de passe doit contenir au moins 1 lettre majuscule, 1 chiffre et 8 caractères de long...</p><br>
          <button class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            [disabled]="regitre.invalid"
            type="button"
            (click)="registerAdmin(regitre)">
            Ajouter Membre
          </button>
        </form>
      </div>
    </div>
    <!--
    <footer class="bg-green-500 p-4 shadow-md rounded-t-md mt-auto">
      <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
        <div class="text-muted-foreground/50">
          <span class="mr-2">2024 ©</span>
          <a href="https://www.linkedin.com/company/fidness-company/" target="_blank" class="hover:text-white">Fidness</a>
        </div>
        <ul class="flex text-muted-foreground/50">
          <li class="hover:text-white">
            <a href="https://www.linkedin.com/company/fidness-company/" target="_blank" class="menu-link px-2">Contacter</a>
          </li>
          <li class="hover:text-white">
            <a href="https://www.linkedin.com/company/fidness-company/" target="_blank" class="menu-link px-2">Sponsor</a>
          </li>
          <li class="hover:text-white">
            <a href="https://www.linkedin.com/company/fidness-company/" target="_blank" class="menu-link px-2">Liens</a>
          </li>
        </ul>
      </div>
    </footer>
    -->
    <div class="bg-img-container flex-grow bg-img-container
    flex flex-col min-h-screen relative" [style.background-image]="'url(' + getImageSource() + ')'">

    </div>
  </div>

