.bg-img-container {
    height: 100%; 
    background-size: cover;
    background-position: center;
  }

  .bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  
.el-farabi-logo {
  margin-right: 10px; 
}

.el-farabi-text {
  margin-top: 10px; 
}
